name: "Swift: Check"

on:
  push:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:

  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@0.0.6
    with:
      license_header_check_enabled: false
      api_breakage_check_enabled: true
      docs_check_enabled: true
      format_check_enabled: true
      shell_check_enabled: true
      yamllint_check_enabled: true
      python_lint_check_enabled: false

  tests:
    name: Tests (default)
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@0.0.6
    with:
      # Linux
      enable_linux_checks: true
      linux_swift_versions: '["6.2"]'

      # Static Linux SDK
      enable_linux_static_sdk_build: true
      linux_static_sdk_versions: '["6.2"]'

      # Swift SDK for Wasm (only nightly builds available)
      enable_wasm_sdk_build: false

      # Swift SDK for Embedded Wasm (only nightly builds available)
      enable_embedded_wasm_sdk_build: false

      # Swift SDK for Android (only nightly builds available)
      enable_android_sdk_build: false

      # Windows (TODO: fix issues)
      enable_windows_checks: false
      enable_windows_docker: false
      windows_swift_versions: '["6.2"]'

      # macOS (requires self-hosted runners)
      enable_macos_checks: false

      # iOS (requires self-hosted runners)
      enable_ios_checks: false

  tests-libssh2:
    name: Tests (libssh2)
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@0.0.6
    with:
      swift_flags: '--traits libssh2'

      # Linux
      enable_linux_checks: true
      linux_swift_versions: '["6.2"]'

      # Static Linux SDK
      enable_linux_static_sdk_build: true
      linux_static_sdk_versions: '["6.2"]'

      # Swift SDK for Wasm (only nightly builds available)
      enable_wasm_sdk_build: false

      # Swift SDK for Embedded Wasm (only nightly builds available)
      enable_embedded_wasm_sdk_build: false

      # Swift SDK for Android (only nightly builds available)
      enable_android_sdk_build: false

      # Windows
      enable_windows_checks: false
      enable_windows_docker: false
      windows_swift_versions: '["6.2"]'

      # macOS (requires self-hosted runners)
      enable_macos_checks: false

      # iOS (requires self-hosted runners)
      enable_ios_checks: false

  macos-tests:
    name: Tests (default)
    uses: ./.github/workflows/macos-tests.yml
    with:
      swift_versions: '["6.2"]'

  macos-tests-libssh2:
    name: Tests (libssh2)
    uses: ./.github/workflows/macos-tests.yml
    with:
      swift_versions: '["6.2"]'
      swift_flags: '--traits libssh2'

  ios-tests:
    name: Tests (default)
    uses: ./.github/workflows/ios-tests.yml
    with:
      swift_versions: '["6.2"]'
